
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store
*.pkg
entitlements.pdlist
signMacApps
pyinstaller-hooks
env-3.9/
env-310/
env-311/
build/
dist/
src/main/python/temp/
src/website/
*.tcl
*.tcl
*.zip
src/main/python/dist/
src/main/python/build/
src/main/python/env
src/main/python/conf/key/app_id
src/main/python/conf/current.ic
src/main/python/my_log.txt

src/main/python/conf/current.ic
src/main/python/conf/current.ic
src/main/python/signMacApps
